/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* css reset */
img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

a {
    text-decoration: none;
    display: block;
  }
input{
    outline: none;
  }
.container {
    margin: 0 auto;
    max-width: 1024px;
  }
/* layout end */
.wrap{
    position: relative;
    
    h1{
        color: #FFFFFF  ;
        font-size: 40px;
        line-height: 41px;
        position: absolute;
        top: 4.3%;
        left: 50%; 
        transform: translate(-50%, 0);       
    }

    select{
        position: absolute;
        top: 40%;
        left: 50%; 
        transform: translate(-50%, 0); 
        width: 44%;
        padding: 3px;
        background-color:  rgba(255,255,255,0.70);
        border:solid 1px white ;
    }
    .region{
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
        background: white;
        position: absolute;
        padding: 10px 20px;
        width: 60%;
        top: 70%;
        left: 50%; 
        transform: translate(-50%, 0);
        margin: 0 auto;
        h3{
            margin-bottom: 10px;
        }
        ul{
            display: flex;
            justify-content: space-around;
            li{
                padding: 10px 20px;
                color: white;
            }
            .region-1{
                background: rgba(138,130,204,1);
            }
            .region-2{
                background: rgba(255,167,130,1);
            }
            .region-3{
                background: rgba(245,208,5,1);
            }
            .region-4{
                background: rgba(85,154,200,1);
            }
            .region-5{
                background: #333333;
            }
        }
       
    }
    .down{
        margin-top: 80px;
        left: 50%; 
    }  
}
.content{
    h2{
        font-size: 36px;
        line-height: 43px;
        color: rgba(138,130,204,1);
    }
    #list li{
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
        background: #FFFFFF;
        margin-bottom: 30px;
        line-height: 18px;
        .title{
            img{
                margin-right: 10px;
                display:inline-block;
            }
            padding: 20px;
        }
    }
    .page{
        margin-top: 50px;
        ul{
            display: flex;
            justify-content: center;
        }
        li{
            padding: 5px 10px;
            border:solid 1px black;
            color: rgba(74,74,74,0.5);
        }
    }
}
.footer{
    margin-top: 100px;
    background:  #559AC8;
    padding: 30px 0px;
    p{
        color: white;
        text-align: center;
    }
}
